aiofiles
aiohttp
apscheduler
asyncio
bs4
ffmpeg-python
future==1.0.0
gitpython
heroku3
httpx==0.28.1
motor 
pillow==11.3.0
psutil
kurigram==2.2.7
python-dotenv
ntgcalls==2.0.6
py-tgcalls==2.2.6
pyyaml==6.0.2
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp==2025.8.20
git+https://github.com/CertifiedCoders/youtube-search-python
